/* Styles applied to all elements of type h1 */
h1 {
  text-align: center;
}

/* Styles applied to any dom with the class 'row' */
.row {
  display: flex;
  flex-direction: row;
}

#board {
  display: inline-block;
  margin: 30px auto;
}

/* Styles applied to the dom with the ID 'board' */
#game {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  opacity: 0; /* Hide the board from view. */
}

.center {
  text-align: center;
}

/* Styles applied to the dom with the ID 'board' while it also has the class 'active' */
#game.active {
  opacity: 1;
}

#scores {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

#scores.active {
  opacity: 1;
}

.display {
  margin: auto auto;
  font-family: sans-serif;
}

.square {
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 55px;
  height: 100px;
  justify-content: center;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  width: 100px;
}

.leftColumn.topRow {
  border-bottom: none;
  border-right: none;
}

.rightColumn.topRow {
  border-bottom: none;
  border-left: none;
}

.topRow.centerColumn {
  border-bottom: none;
}

.middleRow.leftColumn {
  border-right: none;
}

.middleRow.rightColumn {
  border-left: none;
}

.bottomRow.leftColumn {
  border-right: none;
  border-top: none;
}

.bottomRow.centerColumn {
  border-top: none;
}

.bottomRow.rightColumn {
  border-left: none;
  border-top: none;
}

.grid:hover {
  background-color: lightgrey;
}

.win {
  background-color: green;
}

.lose {
  background-color: red;
}